@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Space Mono", monospace;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0 77px;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 40px;
  font-weight: 700;
  font-size: 24px;
}

footer {
  text-align: center;
}

main {
  display: flex;
  align-items: center;
}

section {
  height: 448px;
}

img {
  width: 100%;
}

.img-container {
  width: 540px;
  height: fit-content;
  margin-right: 118px;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -0.035em;
  margin-top: 0;
}

button {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  width: 216px;
  height: 68px;
  background-color: #333333;
  border: 0;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.msg {
  font-size: 24px;
  font-weight: 400;
  width: 381px;
  margin-bottom: 64px;
}

@media (max-width: 600px) {
  body {
    padding: 0px 24px;
  }

  main {
    flex-direction: column;
  }

  .img-container {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-right: 0;
  }

  h1 {
    font-size: 48px;
    margin-top: 20px;
  }

  .msg {
    font-size: 18px;
    margin-bottom: 60px;
    width: initial;
  }

  .desktop-br {
    display: none;
  }
}
